build
dist
__pycache__
.DS_Store
.cache

.ipynb_checkpoints/

# docs (docusaurus)

node_modules

lib/core/metadata.js
lib/core/MetadataBlog.js

website/translated_docs
website/build/
website/yarn.lock
website/node_modules
website/i18n/*

*.log

.idea

alpha


# Dataset
raw
download.sh
